p {
  margin: 0;
  padding: 0;
}
.clock {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  margin: 4vh 0 0;
  padding-top: 1rem;
  border-top: 3px solid var(--color-theme-lighter);

}
.time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}
.text {
  letter-spacing: 0.1em;
  font-size: 50px;
  padding: 20px 0 0;
}