:root {
  --font-timer: 'Nova Mono', monospace;
  --font-text: 'Ubuntu', sans-serif;
  --color-theme-white: #fff;
  --color-theme-lighter: #8ff8f8;
  --color-theme-light: #8df8f8;
  --color-theme-dark: #f0eaea;
  --gradient-height: 100%;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}